@using ISproj.Views.Home
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var isAdmin = HttpContextAccessor.HttpContext.User.IsInRole("Admin");
    var isSecretary = HttpContextAccessor.HttpContext.User.IsInRole("Secretary");
    var isTeacher = HttpContextAccessor.HttpContext.User.IsInRole("Teacher");
}

<ul class="nav nav-pills nav-stacked">
    @if (isAdmin)
    {
        <li class="@HomeNavPages.FacultiesNavClass(ViewContext)"><a asp-controller="Faculty" asp-action="Index">Facultati</a></li>
        <li class="@HomeNavPages.TeacherNavClass(ViewContext)"><a asp-controller="Teacher" asp-action="Index">Profesori</a></li>
        <li class="@HomeNavPages.StudentNavClass(ViewContext)"><a asp-controller="Student" asp-action="Index">Studenti</a></li>
        <li class="@HomeNavPages.CoursesNavClass(ViewContext)"><a asp-controller="Courses" asp-action="Index">Cursuri</a></li>
        <li class="@HomeNavPages.ScholarshipNavClass(ViewContext)"><a asp-controller="Scholarship" asp-action="Index">Burse</a></li>
        <li class="@HomeNavPages.AttendantNavClass(ViewContext)"><a asp-controller="CourseAttendant" asp-action="Index">Participanti cursuri</a></li>
    }
    else if (isSecretary)
    {

    }
    else if (isTeacher)
    {
        <li class="@HomeNavPages.TimetableNavClass(ViewContext)"><a asp-controller="Teacher" asp-action="Timetable">Orar</a></li>
    }
    else // student
    {
        <li class="@HomeNavPages.TimetableNavClass(ViewContext)"><a asp-controller="Student" asp-action="Timetable">Orar</a></li>
        <li class="@HomeNavPages.StudentGradesNavClass(ViewContext)"><a asp-controller="Student" asp-action="Grades">Note</a></li>
    }
</ul>

