@model ISproj.Models.CourseModel

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Home/_Layout.cshtml";
    ViewData.AddActivePage(HomeNavPages.Courses);
}

<h2>Details</h2>

<div>
    <h4>CourseModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Optional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Optional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
